/
<template>
  <div class="ChildernS">
    <div class="page">
      <div class="left">
        <h1 id="欢迎使用 Wipi Markdown 编辑器">
          <b> 欢迎使用 Wipi Markdown 编辑器</b>
          <a
            href="#欢迎使用 Wipi Markdown 编辑器"
            class="anchor"
            >#</a
          >
        </h1>
        <ul>
          <li>整理知识，学习笔记</li>
          <li>发布日记，杂文，所见所想</li>
          <li>撰写发布技术文稿</li>
        </ul>
        <h1 id="什么是 Markdown">
          <b>什么是 Markdown</b>
          <a href="#什么是 Markdown" class="anchor">#</a>
        </h1>
        <p>
          Markdown
          是一种方便记忆、书写的纯文本标记语言，用户可以使用这些标记符号以最小的输入代价生成极
          <br /><br />富表现力的文档：譬如您正在阅读的这份文档。它使用简单的符号标记不同的标题，分割不同的段落，<b
            >【粗<br />
            <br />体】</b
          >或者 <i>*斜体*</i> 某些文字。
        </p>
        <ol>
          <li>
            <p id="待办事宜 Todo 列表">
              <b> 1. 待办事宜 Todo 列表</b>
              <a href="#待办事宜 Todo 列表" class="anchor">#</a>
            </p>
            <p><a-checkbox disabled>支持以 PDF 格式导出文稿</a-checkbox></p>
            <p>
              <a-checkbox :indeterminate="true">新增 Todo 列表功能</a-checkbox>
            </p>
          </li>
          <li>
            <p id="高亮一段代码[^code]">
              <b> 2. 高亮一段代码[^code]</b>
              <a href="#高亮一段代码[^code]" class="anchor">#</a>
            </p>

            <p class="bei">
              @requires_authorization<br />
              class SomeClass:<br />
              pass<br />
              if __name__ == '__main__':<br />
              # A comment<br />
              print 'hello world'
            </p>
          </li>
          <li>
            <p id="绘制表格">
              <b>3. 绘制表格</b>
              <a href="#绘制表格" class="anchor">#</a>
            </p>
            <b>
              <span>项目 </span><span>价格</span><span>数量</span> <br />
              <span>计算机 </span><span>1600</span><span>5</span><br />
              <span>手机 </span><span>12</span><span>12</span><br />
              <span>管线 </span><span>10 </span><span>234</span>
            </b>
          </li>
          <li>
            <p id="嵌入网址">
              <b>4. 嵌入网址</b>
              <a href="#嵌入网址" class="anchor">#</a>
            </p>
            <div class="tu">
              <iframe
                src="//player.bilibili.com/player.html?aid=77737877&bvid=BV1xJ411z7eS&cid=132993821&page=1"
                scrolling="no"
                border="0"
                frameborder="no"
                framespacing="0"
                allowfullscreen="true"
              >
              </iframe>

              <p>
                src="//player.bilibili.com/player.html?aid=77737877&bvid=BV1xJ411z7eS&cid=132993821&page=1"
                scrolling="no"border="0"frameborder="no"framespacing="0"
              </p>
            </div>
          </li>
        </ol>
        <base-BackTop></base-BackTop>

        <!-- 评论 -->
        <base-Comment></base-Comment>

        <base-list
          class="read"
          title="推荐阅读"
          :request="store.getListAction"
          roeId="id"
        >
          <template #item="{ data }">
            <p @click="$router.push('/archiveDetail/' + data.id)">
              {{ data.title }} ·
              <i style="color: #999; font-size: 12px;"
                >大约 {{ moment(data.updateAt).fromNow() }}</i
              >
            </p>
          </template>
        </base-list>
      </div>

      <div class="right">
        <base-floor></base-floor>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useRouter } from "vue-router"
import useStore from "@/stores"
import { onMounted } from "vue"
import moment from "moment"
import "moment/locale/zh-cn"
const store = useStore()
const router = useRouter() //进行实例
const id = router.currentRoute.value.params.id

const init = () => {
  store.getListViews()
  store.getListAction()
}
onMounted(() => {
  init()
})

</script>

<style lang="less" scoped>
.ChildernS {
  width: 80%;
  margin: 0 auto;
}
.page {
  width: 100%;

  padding: 0 10px;
  display: flex;
  .left {
    width: 80%;
      background-color: var(--main-color);
  }
  .right {
    width: 30%;
    padding: 50px;
    color: var(--fs-color);
  }
  .anchor{
    color: #e1e1e1;
  }

  .critic {
    width: 100%;
    height: 200px;
    background-color: red;
  }
  h2 {
    width: 100%;
    line-height: 50px;
    text-align: center;
  }
  h1 {
    width: 100%;
    line-height: 50px;
    font-size: 30px;
    margin-bottom: 10px;
  }
  h1:nth-child(2) {
    border-bottom: solid 1px #999;
  }
  ul {
    margin: 5px 0;
    padding: 0 20px;
    width: 90%;
    margin: 0 auto;
    border-left: solid 5px #ccc;
    li {
      list-style-type: disc;
      padding: 0 10px;
    }
  }
  ol {
    margin: 10px;
    li {
      span {
        width: 70px;
        height: 20px;
        display: inline-block;
        // background-color: red;
        border: solid 1px #999;
        text-align: center;
      }
      > p {
        line-height: 30px;
      }
      .bei {
        margin: 4px;
        background-color: #e1e1e1;
      }
    }
    .tu {
      width: 90%;
      height: 300px;
      background-color: #e1e1e1;
      iframe {
        width: 100%;
        height: 80%;
        margin-bottom: 5px;
      }
      > p {
        padding: 4px;
      }
    }
  }
}
</style>
