/
<template>
  <div class="search">
    <h1>
      <b>文章搜索</b><i @click="handleClose"><CloseOutlined />esc</i>
    </h1>
    <a-input-search
      v-model:value="value"
      placeholder="输入关键字，搜索文章"
      size="large"
      @search="onSearch"
    >
      <template #enterButton>
        <a-button><SearchOutlined /></a-button>
      </template>
    </a-input-search>
    <ol>
      <li v-for="val in searchList" :key="val.id" @click="handleDel(val.id)">
        {{ val.title }}
      </li>
    </ol>
  </div>
</template>

<script lang="ts" setup>
import useStore from "@/stores"
import { defineEmits, ref, onMounted } from "vue"
import { useRouter } from "vue-router"
import { storeToRefs } from "pinia"
import { SearchOutlined, CloseOutlined } from "@ant-design/icons-vue"
const store = useStore()
const route = useRouter()
const { searchList } = storeToRefs(store)
const value = ref<string>("")
const emit = defineEmits(["CloseSearch"])
const init = () => {}
onMounted(() => {
  init()
})

// 点击关闭 -- 父子传参
const handleClose = () => {
  emit("CloseSearch", {
    serFlag: false,
  })
}
// 点击搜索
const onSearch = (searchValue: string) => {
  store.searchClick(searchValue)
}
// 点击搜索项
const handleDel = (id: string) => {
  route.push("/archiveDetail/" + id)
  emit("CloseSearch", {
    serFlag: false,
  })
}
</script>

<style lang="less" scoped>
.search {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  padding: 50px 80px;
  h1 {
    padding: 30px 0;
    b {
      font-size: 24px;
      font-weight: 900;
    }
    i {
      float: right;
      color: #ccc;
      font-size: 18px;
      cursor: pointer;
      span {
        display: block;
        font-size: 24px;
      }
    }
  }
  ol {
    li {
      line-height: 30px;
    }
    li:hover {
      color: red;
    }
  }
}
</style>
