/
<template>
  <a-card :title="$t(title)" :loading="lists.loading">
    <p v-for="val in lists.list" :key="val[roeId]">
      <slot name="item" :data="val" />
    </p>
  </a-card>
</template>

<script setup lang="ts">
import { defineProps, onMounted, reactive } from "vue"
let lists = reactive<{ list: Array<any>; loading: boolean }>({
  list: [],
  loading: false,
})
const props = defineProps({
  title: {
    type: String,
    default: "标题",
  },
  roeId: {
    type: String,
    default: "id",
  },
  request: Function,
})
const init = async () => {
  lists.list =
    props.request &&
    typeof props.request === "function" &&
    (await props.request())
  lists.loading = false
}
onMounted(() => {
  lists.loading = true
  init()
})
</script>

<style lang="less" scoped>
.ant-card {
  padding: 20px 0;
  background: var(--main-color);
  margin-bottom: 10px;
  .ant-card-body p {
    line-height: 30px;
    cursor: pointer;
  }
}
</style>
