<template>
  <header class="header">
    <div class="container">
      <div class="left">
        <!-- 基础路由 -->
        <router-link :to="val.path" v-for="val in navData" :key="val.path">{{
          $t(val?.meta?.title)
        }}</router-link>
        <!-- 动态路由 -->
        <router-link
          :to="`/page/${val.path}`"
          v-for="val in navList"
          :key="val.id"
          >{{ val.name }}</router-link
        >
      </div>
      <div class="right">
        <div class="right2">
          <UnorderedListOutlined />
        </div>
        <div class="right1">
          <span
            v-if="langueOpen"
            :class="{ active: langueOpen, langueBtn: true }"
            @click="handleChangeLangue"
            ><FontSizeOutlined
          /></span>
          <span
            v-else
            :class="{ active: langueOpen, langueBtn: true }"
            @click="handleChangeLangue"
            ><FontColorsOutlined
          /></span>
          <b>
            <span v-if="iconName" @click="handleChangeTheme"
              ><FrownOutlined
            /></span>
            <span v-else @click="handleChangeTheme"><SmileOutlined /></span>
          </b>
          <span @click="handleSearchOpen"><SearchOutlined /></span>
        </div>
      </div>
    </div>
  </header>
  <base-search
    v-if="searchFlag.flag"
    @CloseSearch="handleSearchClose"
  ></base-search>
</template>

<script setup lang="ts">
import useStore from "@/stores"
import { storeToRefs } from "pinia"
import { computed, onMounted, ref, defineEmits, reactive } from "vue"
import { useRouter } from "vue-router"
import {
  SearchOutlined,
  FrownOutlined,
  SmileOutlined,
  FontColorsOutlined,
  FontSizeOutlined,
  UnorderedListOutlined,
} from "@ant-design/icons-vue"
import { useI18n } from "vue-i18n"
const { locale } = useI18n({ useScope: "global" })
const {
  options: { routes },
} = useRouter()
const store = useStore()
const langueOpen = ref(true)
const iconName = ref(true)
let searchFlag = reactive<{ flag: boolean }>({
  flag: false,
})
const emit = defineEmits(["changeLangue"])
// 动态路由
const { navList } = storeToRefs(store)
// 初始化
const init = () => {
  store.getNavData()
}
onMounted(() => {
  init()
})

// 基础路由
const navData = computed(() => {
  return routes.filter((item) => item?.meta?.nav)
})
// 主题模式切换
const handleChangeTheme = () => {
  document.documentElement.classList.toggle("dark")
  iconName.value = document.documentElement.classList.contains("dark")
}
// 语言模式
const handleChangeLangue = () => {
  langueOpen.value = !langueOpen.value
  // 控制i18n的当前语言
  locale.value = langueOpen.value ? "zh" : "en"
  emit("changeLangue", {
    key: locale.value,
  })
}
// 打开搜索页面
const handleSearchOpen = () => {
  searchFlag.flag = true
}
// 关闭搜索页面
const handleSearchClose = ({ serFlag }: any) => {
  searchFlag.flag = serFlag
}
</script>

<style lang="less" scoped>
.header {
  height: 64px;
  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
}
.container {
  height: 100%;
  .display-flex-row-mixin(space-between, center);
}
.left {
  a {
    padding: 0 10px;
  }
  a:hover {
    color: red;
  }
  .router-link-exact-active {
    color: red;
  }
}
.right {
  font-size: 24px;
  span {
    padding: 0 10px;
  }
  b span {
    transition: transform 1s;
  }
  b span:hover {
    transform: rotate(-45deg);
  }
}
</style>
