/
<template>
  <base-scroll @scrollLoad="handleScrollLoad" :loading="loading">
    <template v-if="categoryList.length && categoryList[0].length">
      <div class="category">
        <dl
          v-for="val in categoryList[0]"
          :key="val.id"
          @click="$router.push('/archiveDetail/' + val.id)"
        >
          <dt>{{ val.title }}</dt>
          <dd>
            <base-share :val="val"></base-share>
          </dd>
        </dl>
      </div>
    </template>
    <div v-else class="null">暂无数据</div>
  </base-scroll>
</template>

<script lang="ts" setup>
import { watch, reactive, ref } from "vue"
import { useRoute } from "vue-router"
import useStore from "@/stores"
import { storeToRefs } from "pinia"
const store = useStore()
const { categoryList } = storeToRefs(store)
const type = ref()
const $route = useRoute()
const loading = ref("上拉加载更多")
const pageInfo = reactive({
  page: 1,
  pageSize: 4,
})
// 监听事件
watch(
  $route,
  (val) => {
    type.value = val.params.id
    pageInfo.page = 1
    store.clearArticleCategoryList()
    store.getCategory(type.value, {
      ...pageInfo,
    })
  },
  {
    immediate: true,
  }
)

const handleScrollLoad = () => {
  // 总页数
  const pageTotal = Math.ceil(categoryList.value[1] / pageInfo.pageSize)
  pageInfo.page = pageInfo.page + 1
  if (pageInfo.page <= pageTotal) {
    store.getCategory(type.value, {
      ...pageInfo,
    })
  } else {
    loading.value = "您已经拉到底部啦~"
  }
}
</script>

<style lang="less" scoped>
.category {
  width: 100%;
  height: 100%;
  dl {
    padding: 25px 20px;
    border-bottom: 1px solid var(--border-color);
    line-height: 30px;
    dd {
      font-size: 12px;
    }
  }
  dt:hover {
    color: red;
  }
}
.null {
  padding: 30px 0;
  text-align: center;
  font-size: 14px;
}
</style>
