<template>
  <div>
    <div id="components-back-top-demo-custom">
      <a-back-top visibilityHeight="100">
        <div class="ant-back-top-inner"><VerticalAlignTopOutlined /></div>
      </a-back-top>
    </div>
  </div>
</template>

<script setup lang="ts">
import { VerticalAlignTopOutlined } from "@ant-design/icons-vue"
</script>

<style scoped>
#components-back-top-demo-custom .ant-back-top {
  bottom: 100px;
}
#components-back-top-demo-custom .ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 20px;
  background-color: #282c34;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
</style>
