<template>
  <a-comment>
    <template #avatar>
      <a-avatar src="https://joeschmoe.io/api/v1/random" alt="Han Solo" />
    </template>
    <template #content>
      <a-form-item>
        <a-textarea v-model:value="value" :rows="4" />
      </a-form-item>


       <a-form-item class="from_now">
        <a-popover>
          <template #content>
            <p>
              <img src="@/static/1.png" />
              <img src="@/static/2.png" />
              <img src="@/static/3.png" />
              <img src="@/static/4.png" />
              <img src="@/static/5.png" />
              <img src="@/static/6.png" />
            </p>
            <p>
              <img src="@/static/5.png" />
              <img src="@/static/2.png" />
              <img src="@/static/1.png" />
              <img src="@/static/6.png" />
              <img src="@/static/4.png" />
              <img src="@/static/3.png" />
            </p>
            <p>
              <img src="@/static/5.png" />
              <img src="@/static/6.png" />
              <img src="@/static/3.png" />
              <img src="@/static/2.png" />
              <img src="@/static/1.png" />
              <img src="@/static/4.png" />
            </p>
            <p>
              <img src="@/static/5.png" />
              <img src="@/static/2.png" />
              <img src="@/static/1.png" />
              <img src="@/static/6.png" />
              <img src="@/static/4.png" />
              <img src="@/static/3.png" />
            </p>
          </template>
          <a-button type="primary"> 表情</a-button>
        </a-popover>
        <a-button html-type="submit" type="primary" @click="handleSubmit">
          发布
        </a-button>
      </a-form-item>

    </template>
  </a-comment>

</template>
<script lang="ts" setup>
import { defineComponent, ref } from "vue"
import dayjs from "dayjs"
import { message } from 'ant-design-vue';
import relativeTime from "dayjs/plugin/relativeTime"
dayjs.extend(relativeTime)

type Comment = Record<string, string>

const comments = ref<Comment[]>([])
const submitting = ref<boolean>(false)
const value = ref<string>("")
const handleSubmit = () => {
  if (!value.value) {
    return
  }
  value.value = ""
   message.success('评论成功，已提交审核');


}
</script>