<template>
  <div class="allDel">
    <div class="left">
      <div class="KCeShare">
        <base-share></base-share>
      </div>
      <div v-for="val in detailList" :key="val.id">
        <div id="top">
          <h1>{{ val.title }}</h1>
          <p>
            <span>{{ newDate }} ·阅读量 {{ val.views }} </span>
          </p>
        </div>
        <div class="markdown" v-html="val.html"></div>
        <base-Comment></base-Comment>
      </div>
    </div>
    <a-anchor class="right">
      <base-list
        class="read"
        title="推荐阅读"
        :request="store.getListAction"
        roeId="id"
      >
        <template #item="{ data }">
          <li @click="$router.push('/archiveDetail/' + data.id)">
            {{ data.title }} ·
            <i style="color: #999; font-size: 12px"
              >大约{{ moment(data.updateAt).startOf("hour").fromNow() }}</i
            >
          </li>
        </template>
      </base-list>
      <div class="todo">
        <h2>目录</h2>
        <a-anchor-link
          v-for="val in toc"
          :key="val.id"
          :title="val.text"
          :style="{ paddingLeft: val.level * 10 + 'px' }"
          class="toc"
          :href="'#' + val.id"
        >
        </a-anchor-link>
      </div>
    </a-anchor>

    <base-BackTop></base-BackTop>
  </div>
</template>

<script lang="ts" setup>
// 分类详情
import { useRouter } from "vue-router"
import useStore from "@/stores"
import { storeToRefs } from "pinia"
import { onMounted, ref, reactive } from "vue"
import moment from "moment"
const store = useStore()
const { detailList, newdetailList, toc } = storeToRefs(store)
const newDate = new Date().toLocaleString()
const route = useRouter()
const id = route.currentRoute.value.params.id
const init = () => {
  store.getEditList(id)
  store.getToc(id)
}

onMounted(() => {
  init()
})
</script>

<style lang="less">
.allDel {
  width: 90%;
  margin: 0 auto;
  background: var(--main-color);
  display: flex;
  justify-content: space-between;
  #top {
    width: 100%;
    text-align: center;
  }
  ul {
    li {
      text-align: left;
      margin: 10px 30px;
    }
  }
  .todo {
    background: var(--main-color);
    h2 {
      color: var(--fs-color);
    }
  
    h3 {
      color: var(--fs-color);
    }
    a {
      color: var(--fs-color);
    }
    a:hover {
      color: red;
    }
    .ant-anchor-link-title-active {
      color: red;
    }
    .toc {
      text-align: left;
    }

  .top {
    margin-bottom: 10px;
  }
  h1 {
    padding-top: 20px;
    font-size: 50px;
  }
  P {
    line-height: 30px;
  }

  .markdown h3 {
    text-align: left;
    font-weight: 900;
    padding: 20px 0;
  }
  .bilibili-player-video-wrap {
    width: 100%;
    height: 300%;
  }
  .language-HTML {
    width: 300px;
    margin-bottom: 10px;
  }
}
}
</style>
