<template>
  <div class="archive">
    <div class="left">
      <div class="head">
        <h2>归档</h2>
        <p>
          共计 <span>{{ list.length }}</span> 篇
        </p>
      </div>
      <div class="content">
        <h2>2022</h2>
        <ul>
          <li v-for="val in list" :key="val.id" @click="change(val.id)">
            <span>
              {{ moment(val.createAt).format("L") }}
            </span>
            <span>
              {{ val.title }}
            </span>
          </li>
        </ul>
      </div>
    </div>
    <a-anchor class="right">
      <base-list
        class="read"
        title="推荐阅读"
        :request="store.getListAction"
        roeId="id"
      >
        <template #item="{ data }">
          <li @click="$router.push('/archiveDetail/' + data.id)">
            {{ data.title }} ·
            <i style="color: #999; font-size: 12px"
              >大约{{ moment(data.updateAt).fromNow() }}</i
            >
          </li>
        </template>
      </base-list>
      <base-list
        class="articleClass"
        title="文章分类"
        :request="store.getClassList"
        roeId="id"
      >
        <template #item="{ data }">
          {{ data.label }} <i>共计 {{ data.articleCount }} 篇文章</i>
        </template>
      </base-list>
    </a-anchor>
    <base-BackTop></base-BackTop>
    <!-- <ol>
      <li v-for="(val, index) in data" :key="index"></li>
    </ol> -->
  </div>
</template>
<script lang="ts" setup>
import useStore from "@/stores"
import { storeToRefs } from "pinia"
import { onMounted } from "vue"
import moment from "moment"
import { useRouter } from "vue-router"
// import emoji from "emoji"
// const data = emoji.EMOJI_MAP

const route = useRouter()
import "moment/locale/zh-cn"
const store = useStore()
const { list } = storeToRefs(store)
const newDate = new Date().toLocaleString()

const init = () => {
  store.getListAction()
}
onMounted(() => {
  init()
})
const change = (id: string) => {
  route.push("/archiveDetail/" + id)
}
setTimeout(() => {
  console.log(111, new Date())
}, 1000)
setTimeout(() => {
  console.log(2222, new Date())
}, 1000)
</script>

<style lang="less" scoped>
#wrapper main .archive {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left {
  .head {
    width: 100%;
    height: 80px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    h2 {
      color: red;
      margin-top: 10px;
    }
    p {
      span {
        color: red;
      }
    }
  }
  .content {
    flex: 1;
    li {
      list-style: inside;
      padding: 25px 20px;
      border-bottom: 1px solid var(--border-color);
      span {
        margin-right: 10px;
      }
    }
    h2 {
      color: var(--fs-color);
      margin-top: 10px;
    }
    li:hover {
      color: red;
    }
  }
}
</style>
