<template>
  <div class="article">
    <div class="left">
      <div class="title">
        <h4>{{}} 分类文章</h4>
        <p>共搜索到 {{ 1 }} 篇</p>
      </div>
      <div class="nav">
        <nav>
          <router-link to="/category/all">所有</router-link>
          <template v-for="val in classList" :key="val.id">
            <router-link v-if="val.id" :to="'/category/' + val.id">{{
              val.label
            }}</router-link>
          </template>
        </nav>
      </div>
      <a-carousel autoplay style="width: 100%; height: 200px">
        <div v-for="item in list" :key="item.id">
          <img :src="item.cover" alt="" />
        </div>
      </a-carousel>
      <router-view />
    </div>
    <a-anchor class="right">
      <base-list
        class="read"
        title="推荐阅读"
        :request="store.getListAction"
        roeId="id"
      >
        <template #item="{ data }">
          <li @click="$router.push('/archiveDetail/' + data.id)">
            {{ data.title }} ·
            <i style="color: #999; font-size: 12px"
              >大约{{ moment(data.updateAt).fromNow() }}</i
            >
          </li>
        </template>
      </base-list>
      <base-list
        class="tags"
        title="文章标签"
        :request="store.getTagAction"
        roeId="id"
      >
        <template #item="{ data }">
          {{ data.label }}[{{ data.articleCount }}]
        </template>
      </base-list>
    </a-anchor>
    <base-BackTop></base-BackTop>
  </div>
</template>

<script lang="ts" setup>
import useStore from "@/stores"
import { storeToRefs } from "pinia"
import { onMounted } from "vue"
import moment from "moment"
import "moment/locale/zh-cn"

const store = useStore()
const { list, tag, classList } = storeToRefs(store)

const init = () => {
  store.getListAction()
  store.getTagAction()
  store.getClassList()
}
onMounted(() => {
  init()
})
</script>

<style lang="less" scoped>
.article {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .left {
    .title {
      padding: 20px 0;
      box-shadow: 0 0 3px #ccc;
      text-align: center;
      line-height: 25px;
    }
    .nav {
      padding: 25px 20px;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      flex-flow: row wrap;
      font-size: 13px;
      a {
        padding: 3px 5px;
        margin: 5px 10px;
      }
      .router-link-active {
        color: red;
      }
    }
    .ant-carousel {
      img {
        width: 100%;
        height: 200px;
      }
    }
  }
}
</style>
