<template>
  <div class="detail">
    <div class="left">
      <p>
        知识小册 /
        <span v-for="val in skList " :key="val.id">
          {{ val.id === id ? val.title : "" }}
        </span>
      </p>
      <h3 v-for="val in skList " :key="val.id">
        {{ val.id === id ? val.title : "" }}
      </h3>

      <ul v-for="val in skList " :key="val.id">
        <li v-if="val.id === id">
          <img :src="val.cover" alt="" />
          <h4>{{ val.title }}</h4>
          <p>{{ val.summary }}</p>
          <p>xx次阅读 · {{ val.publishAt }}</p>
          <p>
            <a-button @click="$router.push('/KbrochureDetil/' + val.id)"
              >开始阅读</a-button
            >
          </p>
          <p>敬请期待</p>
        </li>
      </ul>
    </div>

    <div class="right">
      <base-Particulars></base-Particulars>
    </div>
    <base-BackTop></base-BackTop>
  </div>
</template>

<script lang="ts" setup>
import { useRouter } from "vue-router"
import useStore from "@/stores"
import { storeToRefs } from "pinia"
import { onMounted } from "vue"
const store = useStore()
const { list, skList } = storeToRefs(store)
let $router = useRouter() //进行实例
const id = $router.currentRoute.value.params.id
const init = () => {
  try {
    store.getListViews()
  } catch (error) {
    $router.replace("/404")
  }
}
onMounted(() => {
  init()
})
</script>

<style lang="less" scoped>
.detail {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  ul {
    width: 100%;
    background-color: var(--main-color);
    color: var(--fs-color);

    li {
      width: 100%;
      padding: 5px;
      img {
        width: 80%;
        height: 400px;
        margin-left: 8%;
      }
      h4 {
        width: 100%;
        text-align: center;
        padding: 5px 0;
        color: var(--fs-color);
      }
      p {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        font-size: 5px;
      }
    }
  }
  .left > p {
    background: var(--wrap-color);
  }
  .left > h3 {
    background: var(--wrap-color);
    color: var(--fs-color);
  }
  .right {
    h3 {
      padding: 3px;
      color: var(--fs-color);
    }
  }
}
</style>
