<template>
  <div class="Kbrochure">
    <div class="left">
      <ul>
        <li v-for="val in skList" :key="val.id">
          <router-link :to="'/detail/' + val.id">
            <p>
              <span>{{ val.title }}</span> |
              {{ moment(val.updateAt).fromNow() }}
            </p>
            <dl>
              <dt><img :src="val.cover" /></dt>
              <dd>
                <p>{{ val.summary }}</p>
                <p>
                  <base-share :val="val"></base-share>
                </p>
              </dd>
            </dl>
          </router-link>
        </li>
      </ul>
    </div>
    <a-anchor class="right">
      <!-- 推荐阅读 -->
      <base-list
        class="read"
        title="推荐阅读"
        :request="store.getListAction"
        roeId="id"
      >
        <template #item="{ data }">
          <li @click="$router.push('/archiveDetail/' + data.id)">
            {{ data.title }} ·
            <i style="color: #999; font-size: 12px"
              >大约{{ moment(data.updateAt).fromNow() }}</i
            >
          </li>
        </template>
      </base-list>
      <base-list
        class="articleClass"
        title="文章分类"
        :request="store.getClassList"
        roeId="id"
      >
        <template #item="{ data }">
          {{ data.label }} <i>共计 {{ data.articleCount }} 篇文章</i>
        </template>
      </base-list>
    </a-anchor>
    <base-BackTop></base-BackTop>
  </div>
</template>

<script lang="ts" setup>
import useStore from "@/stores"
import { storeToRefs } from "pinia"
import { onMounted } from "vue"
import moment from "moment"
import "moment/locale/zh-cn"

const store = useStore()
const { list, skList } = storeToRefs(store)

const init = () => {
  store.getListViews()
  store.getListAction()
}
onMounted(() => {
  init()
})
</script>

<style lang="less" scoped>
.Kbrochure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  .left {
    ul {
      li {
        padding: 10px;

        p {
          color: var(--fs-color);
          span {
            margin: 0 10px;
          }
          span:hover {
            color: red;
          }
        }

        dl {
          padding: 25px 20px;
          border-bottom: 1px solid var(--border-color);
          line-height: 30px;
          display: flex;
          img {
            width: 100%;
            height: 100px;
          }

          dd {
            margin-left: 20px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .right {
    ol {
      width: 100%;
      height: 40%;
      background: var(--main-color);
      p {
        margin: 10px 0;
      }

      li {
        line-height: 30px;
        margin-bottom: 20px;

        span {
          font-size: 5px;
        }
      }
    }
  }
}
</style>
