<template>
  <div class="allDel">
    <div class="KCeShare">
      <base-share></base-share>
    </div>

    <div class="left">
      <p>
        知识小册 /
        <span v-for="val in detailListDetil" :key="val.id">
          {{ val.id === id ? val.title : "" }}
        </span>
      </p>

      <div v-for="val in detailListDetil" :key="val.id">
        <div class="top" v-if="val.id === id">
          <h1>{{ val.title }}</h1>
          <p>
            <span>{{ newDate }} ·阅读量 {{ val.views }} </span>
          </p>
          <br />
          <p>发布于2022-08-20 16:11:32 | 版权信息：非商用-署名-自由转载</p>
        </div>

        <h3 v-html="val.html"></h3>
      </div>
      <base-Comment></base-Comment>
    </div>
    <a-anchor class="right">
      <base-list
        class="read"
        title="推荐阅读"
        :request="store.getListAction"
        roeId="id"
      >
        <template #item="{ data }">
          <li @click="$router.push('/archiveDetail/' + data.id)">
            {{ data.title }} ·
            <i style="color: #999; font-size: 12px"
              >大约{{ moment(data.updateAt).fromNow() }}</i
            >
          </li>
        </template>
      </base-list>
      <base-BackTop></base-BackTop>
    </a-anchor>
  </div>
</template>

<script lang="ts" setup>
// 分类详情
import { useRouter } from "vue-router"
import useStore from "@/stores"
import { storeToRefs } from "pinia"
import { onMounted } from "vue"
import moment from "moment"
import "moment/locale/zh-cn"
const store = useStore()
const { detailListDetil } = storeToRefs(store)
const newDate = new Date().toLocaleString()
const route = useRouter()

const id = route.currentRoute.value.params.id
const init = () => {
  store.getEditDeil(id)
}
onMounted(() => {
  init()
})
</script>

<style lang="less" scoped>
.allDel {
  width: 90%;
  margin: 0 auto;
  background: var();
  display: flex;
  justify-content: space-between;
  text-align: center;

  h1 {
    color: var(--fs-color);
  }
  ul {
    li {
      text-align: left;
      margin: 10px 30px;
    }
  }

  .top {
    margin-bottom: 10px;
  }
  h1 {
    padding-top: 20px;
    font-size: 25px;
    margin-bottom: 10px;
  }
}
</style>
