/
<template>
  <div id="scroll">
    <div ref="content">
      <slot />
      <div class="loading" v-if="loading">
        <p v-if="categoryList.length && categoryList[0].length >= 4">
          {{ loading }}
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { onMounted, ref, defineEmits, defineProps, onUnmounted } from "vue"
import { throttle } from "lodash"
import useStore from "@/stores"
import { storeToRefs } from "pinia"
const store = useStore()
const { categoryList } = storeToRefs(store)
const clientHeight = ref()
const scrollTop = ref()
const content = ref()
const emits = defineEmits(["scrollLoad"])
const props = defineProps({
  loading: {
    type: String,
    default: "上拉加载更多",
  },
})
clientHeight.value = document.documentElement.clientHeight
const scrollEvent = throttle((e: any) => {
  scrollTop.value = document.documentElement.scrollTop
  if (
    scrollTop.value + clientHeight.value >=
    content.value.offsetHeight + content.value.offsetTop
  ) {
    emits("scrollLoad", e)
  }
}, 1000)
const init = () => {
  window.addEventListener("scroll", scrollEvent)
}
onMounted(() => {
  init()
})
// 卸载事件
onUnmounted(() => {
  window.removeEventListener("scroll", scrollEvent)
})
</script>

<style lang="less" scoped>
.loading {
  p {
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
  }
}
</style>
