
<template>
  <div class="not_found">
    <p>
      页面将在<span>{{ times }}</span
      >秒后自动跳转首页，<br />
      您也可以点击这里跳转<a href="/">首页</a>
    </p>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, onUnmounted } from "vue"
import { useRouter } from "vue-router"
const $router = useRouter()
const times = ref(3)
const timer = ref()
const init = () => {
  timer.value = setInterval(() => {
    if (times.value <= 1) {
      $router.replace("/")
    }
    times.value = times.value - 1
  }, 1000)
}
onUnmounted(() => {
  clearInterval(timer.value)
})

onMounted(() => {
  init()
})
</script>

<style scoped lang="less">
.not_found {
  width: 100%;
  height: 500px;
  background: url("@/static/404.gif") no-repeat;
  background-position: center;
  background-size: cover;
}
p {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
}
span {
  color: orange;
  font-family: "仿宋";
  font-size: 25px;
}
a {
  font-size: 30px;
  color: aqua;

  text-decoration: none;
}
</style>
