<template>
  <div class="detaiIndex">
    <h3>其他知识笔记</h3>
    <ul v-for="val in skList" :key="val.id">
      <li v-if="val.id !== id">
        <router-link :to="'/detail/' + val.id">
          <dl>
            <dt><img :src="val.cover" /></dt>
            <dd>
              <p>{{ val.summary }}</p>
              <p>
                <span>赞：{{ val.likes }}</span>
              </p>
            </dd>
          </dl>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script lang="ts" setup>
import { useRouter } from "vue-router"
import useStore from "@/stores"
import { storeToRefs } from "pinia"
import { onMounted } from "vue"

const store = useStore()
const { list, skList } = storeToRefs(store)
let router = useRouter() //进行实例
const id = router.currentRoute.value.params.id

const init = () => {
  store.getListViews()
}
onMounted(() => {
  init()
})


</script>

<style lang="less" scoped>
.detaiIndex {
  width: 100%;
  h3 {
    line-height: 30px;
  }
  ul {
    width: 100%;
    background-color: var(--main-color);
    color: var(--fs-color);
    li {
      dl {
        padding: 25px 20px;
        border-bottom: 1px solid var(--border-color);
        line-height: 30px;
        display: flex;
        dt {
          margin-right: 7px;
        }
        img {
          width: 50px;
          height: 50px;
        }
        dd {
          color: var(--fs-color);
        }

        dd:hover {
          color: red;
        }
      }
    }
  }
  h3 {
    padding: 3px;
    color: var(--fs-color);
  }
}
</style>
