/<template>
  <div class="modal">
    <div class="layer">
      <h2>
        <b>{{ title }}</b> <span @click.stop="handleCancel">X</span>
      </h2>
      <div class="content">
        <slot name="modal" />
      </div>
      <div class="down">
        <a-button @click.stop="handleCancel">取消</a-button>
        <a-button @click.stop="handleOk">{{ submit }}</a-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { defineProps, ref, defineEmits } from "vue"
const emit = defineEmits(["submitClick", "cancelClick"])
const props = defineProps({
  title: {
    type: String,
    default: "",
  },
  submit: {
    type: String,
    default: "确定",
  },
})
// 确定
const handleOk = (e: MouseEvent) => {
  console.log(e)
  emit("submitClick")
}
// 取消
const handleCancel = () => {
  emit("cancelClick")
}
</script>

<style lang="less" scoped>
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99 !important;
  .layer {
    padding: 30px 10px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    h2 {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      font-weight: 900;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-around;
      b {
        width: 80%;
      }
    }
    .content {
      padding: 20px;
    }
    .down {
      padding: 10px 0;
      text-align: right;
      border-top: 1px solid #ccc;
      .ant-btn {
        margin-left: 10px;
      }
      button:hover {
        border-color: red;
        color: red;
      }
    }
  }
}
</style>
