<template>
  <a-config-provider :locale="locale">
    <div id="root">
      <div id="wrapper">
        <base-header @changeLangue="handleChangeLangue" />
        <main>
          <router-view></router-view>
        </main>
        <div class="fot">
          <p>
            <a href=""><SlackSquareOutlined /></a>
            <a href="https://github.com/fantasticit/wipi"><GithubOutlined /></a>
          </p>
          <h5>53756346</h5>
        </div>
      </div>
    </div>
  </a-config-provider>
</template>

<script setup lang="ts">
import { ref } from "vue"
import zh from "ant-design-vue/es/locale/zh_CN"
import en from "ant-design-vue/es/locale/en_US"
import { GithubOutlined, SlackSquareOutlined } from "@ant-design/icons-vue"
const uiLangues = { zh, en }
const locale = ref(uiLangues["zh"])
const handleChangeLangue = ({ key }: { key: string | undefined }) => {
  locale.value = uiLangues[key]
}
</script>
<style lang="less">
#wrapper main {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}
#wrapper .fot {
  width: 100%;
  height: 100px;
  background: #282c34;
  margin-top: 100px;
  text-align: center;
  p {
    padding: 25px 0 15px 0;
    a {
      color: #c1bdbd;
      font-size: 24px;
      padding: 0 10px;
    }
    a:hover {
      color: #000;
    }
  }
  h5 {
    color: #c1bdbd;
  }
}
</style>
