/
<template>
  <div class="share">
    <span><HeartOutlined /> {{ val.likes }}</span> &emsp;
    <span><EyeOutlined /> {{ val.views }}</span> &emsp;
    <span @click.stop="handleModal"><ShareAltOutlined /> 分享</span>
    <base-modal
      v-if="visible.flag"
      title="分享海报"
      submit="下载"
      @submitClick="handleSubmit"
      @cancelClick="handleCancel"
    >
      <template #modal>
        <h3>{{ val.title }}</h3>
        <dl>
          <dt>
            <QRCodeVue3 value="https://www.baidu.com/" />
          </dt>
          <dd>
            <p>识别二维码查看文章</p>
            <p>原文分享自<b style="color: red">八维创作平台</b></p>
          </dd>
        </dl>
      </template>
    </base-modal>
  </div>
</template>

<script lang="ts" setup>
import { reactive } from "vue"
import QRCodeVue3 from "qrcode-vue3"
import { message } from "ant-design-vue"
import {
  HeartOutlined,
  EyeOutlined,
  ShareAltOutlined,
} from "@ant-design/icons-vue"
const visible = reactive<{ flag: Boolean }>({
  flag: false,
})
const props = defineProps({
  val: {
    type: Object,
    default: {},
  },
})
// 点击分享
const handleModal = () => {
  visible.flag = true
}
// 点击确定
const handleSubmit = () => {
  message.error("分享海报制作失败，请手动截图")
  visible.flag = false
}
// 点击取消
const handleCancel = () => {
  visible.flag = false
}
</script>

<style lang="less" scoped>
h3 {
  font-size: 16px;
  font-weight: 900;
  padding: 20px 0;
}
</style>
